##
url = "/categories"
layout = "default"
title = "Tours"
page_js = "core.js"
heroTitle = "Tours"

[collection categories]
handle = "Categories"
==
<main class="main-content ">

      <div class="breadcrumbs">
        <div class="container">
          <nav aria-label="breadcrumbs">
            <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="/">Home</a>
              </li>
              <li class="breadcrumbs__item" aria-current="page">Tours</li>
            </ul>
          </nav>
        </div>
      </div>

      <section class="section-padding-bottom categories">
        <div class="container">
          <div class="title-wrap">
            <h2 class="title">Explore Categories</h2>
          </div>
          <ul class="categories__flex-wrap">
           
            
            {% for cat in categories %}
              <li class="categories__item">
                <div class="categories__img">
                  {% if cat.preview %}
                     {% for img in cat.preview %}
                      <picture>
                          
                          <source
                              type="image/avif"
                              sizes="(min-width: 1440px) 574px, (min-width: 1024px) 434px, (min-width: 768px) 334px, 720px"
                              srcset="
                                  {{ img.path | resize(334, 188, { mode: 'crop', extension: 'avif', quality: 75 }) }} 334w,
                                  {{ img.path | resize(434, 244, { mode: 'crop', extension: 'avif', quality: 75 }) }} 434w,
                                  {{ img.path | resize(574, 323, { mode: 'crop', extension: 'avif', quality: 75 }) }} 574w,
                                  {{ img.path | resize(668, 376, { mode: 'crop', extension: 'avif', quality: 75 }) }} 668w,
                                  {{ img.path | resize(720, 405, { mode: 'crop', extension: 'avif', quality: 75 }) }} 720w,
                                  {{ img.path | resize(868, 488, { mode: 'crop', extension: 'avif', quality: 75 }) }} 868w,
                                  {{ img.path | resize(1148, 646, { mode: 'crop', extension: 'avif', quality: 75 }) }} 1148w,
                                  {{ img.path | resize(1440, 810, { mode: 'crop', extension: 'avif', quality: 75 }) }} 1440w
                              " />
                              
                          
                          
                          <source
                              type="image/webp"
                              sizes="(min-width: 1440px) 574px, (min-width: 1024px) 434px, (min-width: 768px) 334px, 720px"
                              srcset="
                                  {{ img.path | resize(334, 188, { mode: 'crop', extension: 'webp', quality: 75 }) }} 334w,
                                  {{ img.path | resize(434, 244, { mode: 'crop', extension: 'webp', quality: 75 }) }} 434w,
                                  {{ img.path | resize(574, 323, { mode: 'crop', extension: 'webp', quality: 75 }) }} 574w,
                                  {{ img.path | resize(668, 376, { mode: 'crop', extension: 'webp', quality: 75 }) }} 668w,
                                  {{ img.path | resize(720, 405, { mode: 'crop', extension: 'webp', quality: 75 }) }} 720w,
                                  {{ img.path | resize(868, 488, { mode: 'crop', extension: 'webp', quality: 75 }) }} 868w,
                                  {{ img.path | resize(1148, 646, { mode: 'crop', extension: 'webp', quality: 75 }) }} 1148w,
                                  {{ img.path | resize(1440, 810, { mode: 'crop', extension: 'webp', quality: 75 }) }} 1440w
                              " />
                              
                          
                          
                          <img
                              src="{{ img.path | resize(574, 323, { mode: 'crop', quality: 75 }) }}"
                              alt="{{ cat.preview_caption }}"
                              width="574"
                              height="323"
                              loading="eager"
                              fetchpriority="high" />
                      </picture>
                      {% endfor %}
                  {% endif %}
                </div>
                <div class="categories__desc">
                  <h3 class="categories__title">{{ cat.title }}</h3>
                </div>
                <a href="{{ 'category' | page({ slug: cat.slug }) }}" aria-label="View tours: {{ cat.title }}" class="categories__link"></a>
              </li>
            {% endfor %}
            

          </ul>
        </div>
      </section>

      {% partial 'blocks/promo-highlight' 
          path='/assets/images/lodge/promo/promo-highlight' 
          alt='Soon Sokmo Lodge'
          title='Soon <br>  <i>Sokmo Lodge</i>'
          text='Clay Architecture. Authentic & Cozy. Ancient Heritage.'
      %}
          {#btn_link='/booking'
          btn_text='Book your stay'#}

    </main>