<section class="hero hero_inside">
    <div class="hero__media">
        <div class="hero__poster">
            <picture>
                {% if heroImageObj %}
                    
                    <source type="image/avif" media="(min-width: 1440px)" sizes="100vw" 
                            srcset="{{ heroImageObj | smart_crop(1920, 400, heroPosition, 75, 'avif') }} 1920w, 
                                    {{ heroImageObj | smart_crop(3840, 800, heroPosition, 50, 'avif') }} 3840w" />
                    <source type="image/webp" media="(min-width: 1440px)" sizes="100vw" 
                            srcset="{{ heroImageObj | smart_crop(1920, 400, heroPosition, 75, 'webp') }} 1920w, 
                                    {{ heroImageObj | smart_crop(3840, 800, heroPosition, 50, 'webp') }} 3840w" />

                    
                    <source type="image/avif" media="(min-width: 1024px)" sizes="100vw" 
                            srcset="{{ heroImageObj | smart_crop(1440, 400, heroPosition, 75, 'avif') }} 1440w, 
                                    {{ heroImageObj | smart_crop(2880, 800, heroPosition, 50, 'avif') }} 2880w" />
                    <source type="image/webp" media="(min-width: 1024px)" sizes="100vw" 
                            srcset="{{ heroImageObj | smart_crop(1440, 400, heroPosition, 75, 'webp') }} 1440w, 
                                    {{ heroImageObj | smart_crop(2880, 800, heroPosition, 50, 'webp') }} 2880w" />

                    
                    <source type="image/avif" media="(min-width: 768px)" sizes="100vw" 
                            srcset="{{ heroImageObj | smart_crop(800, 400, heroPosition, 75, 'avif') }} 800w, 
                                    {{ heroImageObj | smart_crop(1600, 800, heroPosition, 50, 'avif') }} 1600w" />
                    <source type="image/webp" media="(min-width: 768px)" sizes="100vw" 
                            srcset="{{ heroImageObj | smart_crop(800, 400, heroPosition, 75, 'webp') }} 800w, 
                                    {{ heroImageObj | smart_crop(1600, 800, heroPosition, 50, 'webp') }} 1600w" />

                    
                    <source type="image/avif" sizes="100vw" 
                            srcset="{{ heroImageObj | smart_crop(450, 400, heroPosition, 75, 'avif') }} 450w, 
                                    {{ heroImageObj | smart_crop(900, 800, heroPosition, 50, 'avif') }} 900w" />
                    <source type="image/webp" sizes="100vw" 
                            srcset="{{ heroImageObj | smart_crop(450, 400, heroPosition, 75, 'webp') }} 450w, 
                                    {{ heroImageObj | smart_crop(900, 800, heroPosition, 50, 'webp') }} 900w" />

                    <img src="{{ heroImageObj | smart_crop(1440, 400, heroPosition, 75, 'webp') }}" 
                         alt="{{ heroImageAlt | default(this.page.title) }}" 
                         class="hero__poster-img" 
                         fetchpriority="high" 
                         decoding="async"
                         width="450" height="950"
                         loading="eager" />
                {% endif %}
            </picture>
        </div>
    </div>
    
    <div class="hero__content">
        <div class="container">
            <h1 class="hero__title">{{ heroTitle | default(this.page.title) }}</h1>
        </div>
    </div>
</section>