<div class="menu js-menu">
      <div class="menu__sidebar">
        <div class="menu__sidebar-top">
          <a href="/" class="menu__logo" aria-label="На главную">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 213 198">
              <path fill="#6bbbea" d="M53.3 68.7 81.6 0l24 67.5-11.5-9.1-16.2 35.9-13-34.7z" />
              <path
                fill="#000"
                d="m48.8 78.2 13.5-10.4 6 17.1L0 197.4zm38.5 8L96 66l13.1 11 18.4 51.6L166 85l47 113-51-78.2-38.7 59.3z" />
            </svg>
          </a>
          <div class="menu__social social">
            <ul class="social__list">
              <li class="social__item">
                <a
                  href="#"
                  class="social__link"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="social media facebok">
                  <svg class="icon">
                    <use href="/icons.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a
                  href="#"
                  class="social__link"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="social media instagram">
                  <svg class="icon">
                    <use href="/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a
                  href="#"
                  class="social__link"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="video-sharing platform youtube">
                  <svg class="icon">
                    <use href="/icons.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a
                  href="#"
                  class="social__link"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="messanger WhatsApp">
                  <svg class="icon">
                    <use href="/icons.svg#whatsapp"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="menu__close js-menu-close">
            <svg class="icon">
              <use href="/icons.svg#cross"></use>
            </svg>
          </div>
        </div>

        <nav class="menu__nav" aria-label="Мобильная навигация">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__item-link" href="/categories.html">Tours</a>

              <button class="js-trigger-submenu menu__submenu-trigger" type="button" aria-label="Open submenu">
                <svg class="icon">
                  <use href="#angle"></use>
                </svg>
              </button>
              <div class="menu__submenu-wrapper">
                <ul class="menu__submenu">
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/trekking-category.html">Trekking adventures</a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/horseback-category.html">Horseback expedition</a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/offroad-category.html">Overland jeep journeys</a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/nomadic-category.html">Nomadic heritage</a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/custom-category.html">Custom expedition</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item"><a class="menu__item-link" href="/private.html">Private tours</a></li>
            <li class="menu__item">
              <a class="menu__item-link" href="/accommodations.html">Accommodations</a>

              <button class="js-trigger-submenu menu__submenu-trigger" type="button" aria-label="Open submenu">
                <svg class="icon">
                  <use href="#angle"></use>
                </svg>
              </button>
              <div class="menu__submenu-wrapper">
                <ul class="menu__submenu">
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/hotel.html">Mongu Hotel</a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/lodge.html">Sokmo Lodge</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__item-link" href="/destination.html">Destination</a>
              <button class="js-trigger-submenu menu__submenu-trigger" type="button" aria-label="Open submenu">
                <svg class="icon">
                  <use href="#angle"></use>
                </svg>
              </button>
              <div class="menu__submenu-wrapper">
                <ul class="menu__submenu menu__submenu_without-indents">
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/category.html">
                      <svg class="icon">
                        <use href="/maps.svg#ik"></use>
                      </svg>
                      Issyk-Kul
                    </a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/category.html">
                      <svg class="icon">
                        <use href="/maps.svg#nr"></use>
                      </svg>
                      Naryn
                    </a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/category.html">
                      <svg class="icon">
                        <use href="/maps.svg#chui"></use>
                      </svg>
                      Chuy
                    </a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/category.html">
                      <svg class="icon">
                        <use href="/maps.svg#tl"></use>
                      </svg>
                      Talas
                    </a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/category.html">
                      <svg class="icon">
                        <use href="/maps.svg#dj"></use>
                      </svg>
                      Jalal-Abad
                    </a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/category.html">
                      <svg class="icon">
                        <use href="/maps.svg#osh"></use>
                      </svg>
                      Osh
                    </a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/category.html">
                      <svg class="icon">
                        <use href="/maps.svg#bt"></use>
                      </svg>
                      Batken
                    </a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/category.html">
                      <svg class="icon">
                        <use href="/maps.svg#tj"></use>
                      </svg>
                      Tajikistan
                    </a>
                  </li>
                  <li class="menu__subitem">
                    <a class="menu__item-sublink" href="/category.html">
                      <svg class="icon">
                        <use href="/maps.svg#kz"></use>
                      </svg>
                      Kazakhstan
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="menu__item"><a class="menu__item-link" href="/about.html">About us</a></li>
            <li class="menu__item"><a class="menu__item-link" href="/travel-guide.html">Travel guide</a></li>
            <li class="menu__item"><a class="menu__item-link" href="/contacts.html">Contacts</a></li>
          </ul>
        </nav>
      </div>
    </div>