[collection categories]
handle = "Categories"
[collection destination]
handle = "Destinations"
==

<div class="menu js-menu">
    <div class="menu__sidebar">
        <div class="menu__sidebar-top">
            <a href="/" class="menu__logo" aria-label="На главную">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 213 198"
                >
                    <path
                        fill="#6bbbea"
                        d="M53.3 68.7 81.6 0l24 67.5-11.5-9.1-16.2 35.9-13-34.7z"
                    />
                    <path
                        fill="#000"
                        d="m48.8 78.2 13.5-10.4 6 17.1L0 197.4zm38.5 8L96 66l13.1 11 18.4 51.6L166 85l47 113-51-78.2-38.7 59.3z"
                    />
                </svg>
            </a>
            <div class="menu__social social">
                <ul class="social__list">
                    <li class="social__item">
                        <a
                            href="#"
                            class="social__link"
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label="social media facebok"
                        >
                            <svg class="icon">
                                <use href="{{'assets/sprites/icons.svg#facebook'|theme}}"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a
                            href="#"
                            class="social__link"
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label="social media instagram"
                        >
                            <svg class="icon">
                                <use href="{{'assets/sprites/icons.svg#instagram'|theme}}"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a
                            href="#"
                            class="social__link"
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label="video-sharing platform youtube"
                        >
                            <svg class="icon">
                                <use href="{{'assets/sprites/icons.svg#youtube'|theme}}"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a
                            href="#"
                            class="social__link"
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label="messanger WhatsApp"
                        >
                            <svg class="icon">
                                <use href="{{'assets/sprites/icons.svg#whatsapp'|theme}}"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu__close js-menu-close">
                <svg class="icon">
                    <use href="{{'assets/sprites/icons.svg#cross'|theme}}"></use>
                </svg>
            </div>
        </div>

        <nav class="menu__nav" aria-label="Мобильная навигация">
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__item-link" href="/categories.html">Tours</a>

                    <button
                        class="js-trigger-submenu menu__submenu-trigger"
                        type="button"
                        aria-label="Open submenu"
                    >
                        <svg class="icon">
                            <use href="#angle"></use>
                        </svg>
                    </button>
                    <div class="menu__submenu-wrapper">
                        <ul class="menu__submenu">

                            {% for cat in categories %}
                        <li class="menu__subitem">
                            <a
                                href="{{ 'category' | page({ slug: cat.slug }) }}"
                                class="menu__item-sublink"
                                >
                                {{cat.title}}
                                </a
                            >
                        </li>
                      {% endfor %}

                           
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link" href="{{ 'category' | page({ slug: 'private-tours' }) }}"
                        >Private tours</a
                    >
                </li>
                <li class="menu__item">
                    <a class="menu__item-link" href="{{ 'accommodations'|page }}"
                        >Accommodations</a
                    >

                    <button
                        class="js-trigger-submenu menu__submenu-trigger"
                        type="button"
                        aria-label="Open submenu"
                    >
                        <svg class="icon">
                            <use href="#angle"></use>
                        </svg>
                    </button>
                    <div class="menu__submenu-wrapper">
                        <ul class="menu__submenu">
                            <li class="menu__subitem">
                                <a class="menu__item-sublink" href="{{ 'hotel'|page }}"
                                    >Mongu Hotel</a
                                >
                            </li>
                            <li class="menu__subitem">
                                <a class="menu__item-sublink" href="{{ 'lodge'|page }}"
                                    >Sokmo Lodge</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link" href="{{ 'destinations'|page }}"
                        >Destination</a
                    >
                    <button
                        class="js-trigger-submenu menu__submenu-trigger"
                        type="button"
                        aria-label="Open submenu"
                    >
                        <svg class="icon">
                            <use href="#angle"></use>
                        </svg>
                    </button>
                    <div class="menu__submenu-wrapper">
                        <ul class="menu__submenu menu__submenu_without-indents">
                            {% for destination in destination %}
                        <li class="menu__subitem">
                            <a
                                href="{{ 'destination' | page({ slug: destination.slug }) }}"
                                class="menu__item-sublink"
                                >
                                <svg class="icon">
                                  <svg class="icon">
                                    <use href="{{ ('assets/sprites/maps.svg#' ~ destination.icon_id)|theme }}"></use>
                                  </svg>
                                </svg>
                                {{destination.title}}
                                </a
                            >
                        </li>
                      {% endfor %}
                           
                        </ul>
                    </div>
                </li>

                <li class="menu__item">
                    <a class="menu__item-link" href="{{ 'about'|page }}">About us</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link" href="{{'guide'|page}}"
                        >Travel guide</a
                    >
                </li>
                <li class="menu__item">
                    <a class="menu__item-link" href="{{ 'contacts'|page }}"
                        >Contacts</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</div>
