##
[collection]
handle = "Tours"
==
<section class="section-padding section-bg">
  <div class="container">
    <div class="title-wrap">
      <h2 class="title title_centered">Popular tours</h2>
    </div>

    {% set records = collection.where('is_active', true).where('is_featured', true).get() %}

    <div class="card-slider card-slider_per-3 js-slider">
      <div class="card-slider__viewport slider js-slider-viewport">
        {% for record in records %}
          
          {% partial 'blocks/card-tour' tour=record is_slide=true loop_index=loop.index0 %}
          
        {% else %}
          <span class="no-data">Records not found</span>
        {% endfor %}
      </div>

      {% if records|length > 1 %}
        <div class="slider__nav">
          <div class="slider__btn slider__btn_prev js-slider-prev" aria-label="Previous slide">
            <svg class="icon">
              <use href="#angle"></use>
            </svg>
          </div>
          <div class="slider__btn slider__btn_next js-slider-next" aria-label="Next slide">
            <svg class="icon">
              <use href="#angle"></use>
            </svg>
          </div>
        </div>

        <div class="slider__pagination js-pagination">
          {% for record in records %}
            <div class="pagination-dot" data-index="{{ loop.index0 }}"></div>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="card__btn-wrap btn-wrap btn-wrap_centered">
      <a href="{{ 'categories' | page }}" class="btn">View all tours</a>
    </div>

  </div>
</section>